body {
	background-color: #181A1B;
	color: white;
	margin: 0px;
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-size: 125%;
	font-family: arial;
}

input, button {
	font-size: 100%;
	font-family: arial;
}

table {
	width: 50vw;
	border-radius: 10px;
}

th, td {
	outline: 2px solid gray;
	text-align: left;
	padding: 8px;
}

.projectData:hover {
	background-color: #242728;
}